
  
  /* Estilos para la tarjeta de tour */
.tour-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    transition: transform 0.3s ease;
    width: 300px; /* Ancho fijo para la tarjeta */
    margin-bottom: 20px; /* Espacio entre tarjetas */
  }
  
  .tour-card:hover {
    transform: translateY(-5px);
  }
  
  .tour-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .image-container {
    display: flex;
    flex-direction: column; /* Imágenes alineadas verticalmente */
    gap: 10px; /* Espacio entre imágenes */
  }
  
  .image-container img {
    width: 100%; /* Imágenes ocupan el ancho completo */
    height: auto; /* Altura automática */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .image-container img:hover {
    transform: scale(1.1);
  }
  


  
  /* TourCard.css */

.tour-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    height: 300px;
  }
  
  .tour-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .carousel-container {
    margin-top: 20px;
  }
  
  .image-slide {
    text-align: center;
    
  }
  
  .image-slide img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  /* App.css */

.gallery-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .tour-card {
    width: calc(25% - 20px); /* El 25% es para 4 tarjetas por fila, 20px de separación */
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 767px) {
    .tour-card {
      width: calc(50% - 20px); /* Dos tarjetas por fila en dispositivos más pequeños */
    }
  }

  /* TourCard.css */

.tour-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 300px; /* Ancho fijo para la tarjeta */
    height: 400px; /* Altura fija para la tarjeta */
  }
  
  .tour-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .carousel-container {
    margin-top: 20px;
  }
  
  .image-slide {
    text-align: center;
  }
  
  .image-slide img {
    max-width: 100%;
    height: 100%; /* Ajustar la altura al 100% */
    object-fit: cover; /* Mantener la relación de aspecto */
    border-radius: 8px;
  }
  
  /* Estilo para quitar la línea azul del enlace */
.card-link {
  text-decoration: none;
  color: inherit; /* Esto mantiene el color del texto predeterminado */
}

/* Opcional: Estilo para cambiar el color del enlace al pasar el cursor por encima */

